:root {
    --number-of-columns: 2;
    --column-gap: 0.8em;
}

html {
    background: black;
    color: white;
}

body {
    max-width: 900px;
    margin-left: 20px;
}

@media (max-width: 45rem) {
    hr {
        width: 1vh;
    }

    p {
        max-width: 1vh;
    }

}
@media (min-width: 45rem) {

    .sites {
         -webkit-column-count: var(--number-of-columns);
        -moz-column-count: var(--number-of-columns);
        -ms-column-count: var(--number-of-columns);
        -o-column-count: var(--number-of-columns);
        column-count: var(--number-of-columns);
        -webkit-column-gap: var(--column-gap);
        -moz-column-gap: var(--column-gap);
        -ms-column-gap: var(--column-gap);
        -o-column-gap: var(--column-gap);
        column-gap: var(--column-gap);
        flex-wrap: wrap;
    }
}

hr {
    float: left;
    width: 800px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

li {
    padding: 4px;
}

.link a {
    color: white;
    text-decoration: none;
}

.link a:hover {
    font-style: italic;
    color: black;
    background: white;
}

.link a:before {
    content: '[';
}

.link a:after {
    content: ']';
}

.rss {
    content: url('./assets/rss.png');
    margin-bottom: -5px;
}

.rss a {
    text-decoration: none;
}

.rss:hover {
    content: url('./assets/ssr.png');
    margin-bottom: -5px;
}

.tor {
    content: url('./assets/tor.png');
    margin-bottom: -5px;
}

.tor a {
    text-decoration: none;
}

.tor:hover {
    content: url('./assets/rot.png');
    margin-bottom: -5px;
}

.sites span {
    padding-right: 5px;
}

p {
    max-width: 700px;
}

footer {
    position: absolute;
    bottom: 0;
}

