:root {
    --number-of-columns: 2;
    --column-gap: 0.8em;
}

html {
    background: black;
    color: white;
}

body {
    max-width: 900px;
    margin-left: 20px;
}

@media (max-width: 45rem) {
    hr {
        width: 1vh;
    }

    p {
        max-width: 1vh;
    }

}
@media (min-width: 45rem) {

    .sites {
         -webkit-column-count: var(--number-of-columns);
        -moz-column-count: var(--number-of-columns);
        -ms-column-count: var(--number-of-columns);
        -o-column-count: var(--number-of-columns);
        column-count: var(--number-of-columns);
        -webkit-column-gap: var(--column-gap);
        -moz-column-gap: var(--column-gap);
        -ms-column-gap: var(--column-gap);
        -o-column-gap: var(--column-gap);
        column-gap: var(--column-gap);
        flex-wrap: wrap;
    }
}

hr {
    float: left;
    width: 800px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

li {
    padding: 4px;
}

.link a {
    color: white;
    text-decoration: none;
}

.link a:hover {
    font-style: italic;
    color: black;
    background: white;
}

.link a:before {
    content: '[';
}

.link a:after {
    content: ']';
}

.rss {
    content: url('./assets/rss.svg');
    margin-bottom: -5px;
}

.rss a {
    text-decoration: none;
}

.rss:hover {
    content: url('./assets/ssr.svg');
    margin-bottom: -5px;
}

.tor {
    content: url('./assets/tor.svg');
    margin-bottom: -5px;
}

.tor a {
    text-decoration: none;
}

.tor:hover {
    content: url('./assets/rot.svg');
    margin-bottom: -5px;
}

.sites span {
    padding-right: 5px;
}

p {
    max-width: 700px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    border: none;
    position: relative;
    left: 83%;
}

button:hover {
    background-color: white;
    color: black;
}

header > div {
   text-align: right;
   color: #eee;
}

header > div h1 {
   display: flex;
   justify-content: left;
   align-items: left;
   flex-wrap: wrap;
   margin: 0;
   line-height: 5rem;
   font-size: 3rem;
   font-weight: 250;
}

header > div h1 > span {
   margin-left: auto;
}

header > div h1 .bold {
   font-weight: 400;
}

header > div h1 > a {
   padding: 1rem;
   height: 5rem;
}

@media only screen and (max-width: 425px) {
    header > div h1 {
        font-size: 2rem;
        line-height: 5rem;
    }
}

header > div h1 .circum {
   height: 100%;
   stroke: currentColor;
   fill: currentColor;
}

header > div h1 .circum .out, header > div h1 .circum .in {
    animation: spin 2s;
    animation-iteration-count: 1;
    transform: scale(1);
}

header > div h1 .circum .in {
    animation: size 2s;
}

header > div h1 .circum.spin .circle {
    animation: none;
}

@keyframes spin {
  0% {
    transform: rotate3d(0.5, 1, 0, 0turn); }
  100% {
    transform: rotate3d(0.5, 1, 0, 1turn); } }

@keyframes size {
  0%, 100% {
    transform: scale(1); }
  40%, 60% {
    transform: scale(1.8); } }

footer {
    position: absolute;
    bottom: 10px;
}

