html {
    background: black;
    color: white;
}

@media (max-width: 55rem) {
    hr {
        width: 1vh;
    }

    p {
        max-width: 1vh;
    }
}

hr {
    float: left;
    width: 800px;
    color: white;
}

.link a {
    color: white;
    text-decoration: none;
}

.link a:hover {
    font-style: italic;
    color: black;
    background: white;
}

.link a:before {
    content: '[';
}

.link a:after {
    content: ']';
}

.rss {
    background-image: url('./rss.png');
    background-repeat: no-repeat;
}

.rss a {
    text-decoration: none;
    padding: 10px;
}

.rss:hover {
    background-image: url('./ssr.png');
    background-repeat: no-repeat;
}

.sites span {
    padding-right: 8px;
}

p {
    max-width: 700px;
}

